/* Mobile screen responsive start */

@media screen and (max-width:576px){
    
    /* navbar responsive start */

    .parent-all-content{
        box-shadow:none;
    }

    .nav-main{
        flex-direction:column;
    }

    .nav-right-content{
        margin-top:10%;
        flex-direction:column;
        gap:20px;
    }

    .nav-follow{
        margin-top:12%;
    }

    /* header responsive start */

    .header-main{
        margin-top:8%;
        flex-direction:column-reverse;
    }

    .header-left-content{
        width:80%;
        margin-top:20%;
        margin-left:15%;
    }
    
    .play{
        font-size:2.4rem;
    }
    
    .goat{
        font-size:4.6rem;
    }

    .header-left-content p{
        font-size:1rem;
    }

    .header-btn{
        font-size:1rem;
        padding:1rem 2.2rem;
    }

    .header-right-content{
        width:80%;
    }
}