/* The font family link of Work Sans */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Universal Selector */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* body */

body{
    font-family: "Work Sans", sans-serif;
}

/* navbar styles start */

.parent-all-content{
    box-shadow:0 6px 5px rgba(0, 0, 0, 0.1);
}

.nav-main{
    max-width:1050px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1.25rem 0;
}

.nav-left-content{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:1.8rem;
    font-weight:700;
}

.nav-left-content img{
   width:25%;
}

.nav-left-content span{
    color:rgb(255, 66, 165);
}

.nav-right-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:0;
}

.nav-btn, 
.follow{
    color:rgb(60, 53, 79);
    font-size:1rem;
    font-family: "Work Sans", sans-serif;
    font-weight:500;
    border:none;
   background-color:transparent;
   margin-right:20px;
}

.nav-btn, 
.follow:hover{
    cursor:pointer;
}

.nav-follow{
    background-color:rgba(11, 2, 35, 0.1);
    border-radius:0.5rem;
    padding:0.7rem 1.1rem;
}

.follow{
    margin-bottom:2%;
}

.follow i{
    font-size:1.5rem;
    margin-left:0.5rem;
}

/* header styles start */

.header-main{
    max-width:1050px;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.header-left-content{
    width:40%;
    background-image:url("../images/Group\ 14.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.play{
    color:rgb(11, 2, 35);
    font-size:3rem;
    font-weight:600;
    margin-bottom:2%;
}

.goat{
    color:transparent;
    background-image:linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
    background-clip:text;
    font-size:5.5rem;
    font-weight:800;
    margin-bottom:4%;
}

.header-left-content p{
    color:rgb(83, 76, 100);
    font-size:1.25rem;
    font-weight:500;
    margin-top:3%;
}

.header-btn{
    border:none;
   padding:1rem 2.4rem;
    margin-top:7%;
    color:rgb(255, 255, 255);
    font-size:1.25rem;
    font-weight:600;
}

.header-btn1{
    border-radius:3rem;
    background-image:linear-gradient(90deg, rgb(255, 66, 165) 13.134%, rgb(255, 66, 165) 87%);
    margin-right:4%;
}

.header-btn2{
    border-radius:3rem;
    background-color:rgb(78, 197, 247);
}

.header-btn:hover{
    cursor:pointer;
}

.header-right-content{
    width:50%;
}

.header-right-content img{
    width:100%;
}